<app-navigation></app-navigation>
<div class="container-fluid body">
    <div class="row h-100">
        <div class="col-md-4 text-center">
            <img src="assets/julian/full-prof.jpg" class="profilePic shadow">
        </div>
        <div class="col-md-8 bg-color backpad shadow-s d-flex align-items-center justify-content-center">
            <div class="container">
                <h1>Julian M. Rice</h1>
                <p>Hi there! I'm Julian, a UCLA Alumnus with a double bachelors in Linguistics and Computer Science and Japanese, and a specialization in Entrepreneurship! I spend the majority of my free time developing video games. I am interested and experienced in full stack web, video game, and AI development!</p>
            </div>
        </div>
    </div>
</div>